/* Position the drawer buttons at the top left */
#drawers {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

/* Position the navigation buttons at the top right */
#navigation {
  width: 14%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

/* Position the results section at the bottom right */
#results {
  width: 13%;
  position: absolute;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 0;
}

#projectName {
  margin-top: -7.5vh;
  padding-top: 0px;
  text-align: center;
}

/* Center the spray model visual */
#sprayModel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 85%;
  z-index: 0;
  margin-top: 0px;
  padding-top: 0px;
}

#mainScreenVisual {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

#productSlider {
  width: 100%;
}

/*Remove the arrows from the input fields*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  @media (max-width: 1000px) {
    .primaryBtn{
      font-size: 14px;
    }
  }

