#results-root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

#results-container {
    height: 90%;
    width: 70%;


    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

table{
    height: 100%;
    width: 100%;

    border-collapse: collapse;

    border: 2px solid darkgray;
}

.spray-element{
    width: 2%;
    height: 2%;
    font-size: 0.8rem;
}