#results-container {
    height: 90%;
    width: 70%;


    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#images {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#conveyor-image{
    border-collapse: collapse;

    border: 2px solid darkgray;

    display: flex;
    flex-direction: row;
}

#manifold-image{
    width: 2%;

    background-color: darkgray;

    overflow: visible;
}

.nozzle-rect{
    position: fixed;

    width:100vw;
    height: 5%;

    background-color: black;
}

.spray-column{
    height: 100%;

    display:flex;
    flex-direction:column;
}

.spray-element{
    width: 100%;
    font-size: 0.8rem;
}

.product-border{
    background-color: black;
}